body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    overflow: auto;
    position: relative;
}

.body-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(2px) grayscale(80%) brightness(0.2);
    z-index: -1;
    height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

.user-image {
    border-radius: 12%;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
}

h1 {
    margin-bottom: 15px;
}
